

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div class="display-6 text-center container text-success mt-5">
        
        Payment Succesful
        <br />
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</body>
</html>